# .replit
run = "gunicorn --bind 0.0.0.0:8080 run:app"
entrypoint = "run.py"
modules = ["app"]

[nix]
args = ["-v"]
entrypoint = "run.py"
modules = ["app", "python-3.11"]

[nix]
args = ["-v"] # Daha detaylı hata ayıklama için kullanılabilir, isteğe bağlı

# [tool.poetry] ve [tool.poetry.dependencies] kısımlarını kaldırıyoruz
# Bağımlılıklar Replit'in kendi Paket Yöneticisi aracılığıyla eklenecek.